# Books 
Stuednt Name: Nathalie Castro

In [1]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [13]:
![png](http://localhost:8888/view/BooksERD.PNG)

'[png]' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
connection = "mysql+pymysql://root:root@localhost/books"

In [3]:
engine = create_engine(connection)

In [4]:
if database_exists(connection):
    print("The database exists!")
# If it does not exist, create it.
else:
    create_database(connection)

In [7]:
# Read in all data from the provided CSVs
authors_df = pd.read_csv("Data/authors.csv")
books_df = pd.read_csv("Data/books.csv")
favorites_df = pd.read_csv("Data/faves.csv")
users_df = pd.read_csv("Data/users.csv")

# Verify the data loaded
users_df.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [8]:
authors_df.to_sql("authors", engine, if_exists="replace")
books_df.to_sql("books", engine, if_exists="replace")
favorites_df.to_sql("favorites", engine, if_exists="replace")
users_df.to_sql("users", engine, if_exists="replace")

3

In [9]:
query = """SHOW TABLES;"""
pd.read_sql(query, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [10]:
query = """
SELECT books.title, favorites.user_id
FROM books
JOIN favorites 
  ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));
"""
pd.read_sql(query, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1